
#root {
  display: flex;
}

.main-content {
  margin-left: 16rem; /* width of the sidebar */
  margin-top: 4rem; /* height of the header */
  @apply mt-16 ml-64 p-4;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  
}

